* {
    margin: 20px;
    margin-top: 40px;
}

.flexbox {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    flex-basis: 200px;
} 


.item {
    background-color: black;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    flex-grow: 1;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-radius: 32px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    color: white;
    padding: 35px 25px 20px 25px;
}
